@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #1A2028;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.big-title {
  font-size: 2.875em;
  line-height: 1.21739em;
}

@media screen and (max-width: 767px) {
  .big-title {
    font-size: 2.125em;
    line-height: 1.29412em;
  }
}

.subtitle {
  font-size: 0.9375em;
  line-height: 1.6em;
  font-weight: 500;
  text-transform: uppercase;
  color: #a0a0a0;
  margin-bottom: 10px;
}

.title {
  font-size: 2.5625em;
  line-height: 1.19512em;
  font-weight: 400;
  max-width: 550px;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 1.75em;
    line-height: 1.5em;
  }
}

.btn {
  min-width: 150px;
  font-size: 0.9375em;
  line-height: 1.53333em;
  text-align: center;
  display: inline-block;
  padding: 10px 30px;
  background: #6477B6;
  color: #fff;
  font-weight: 400;
  border-radius: 3px;
  border: 1px solid #6477B6;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn:hover {
  border: 1px solid #53649e;
  background: #53649e;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .btn {
    padding: 10px 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.white {
  border: 1px solid #1A2028;
  background: transparent;
  color: #1A2028;
}

.back-to-top {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  border: 0;
  border-radius: 50%;
  background-color: #6477B6;
  color: #fff;
  font-size: 20px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.55);
}

.back-to-top::hover {
  background-color: red;
}

header {
  width: 100%;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.08);
  z-index: 999;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
}

@media screen and (max-width: 767px) {
  .header-wrap {
    padding: 20px;
  }
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #6477B6;
    z-index: 99;
    -webkit-transition: ease-in 0.2s;
    transition: ease-in 0.2s;
    left: -100%;
    opacity: 0;
  }
}

.menu-open ul {
  left: 0;
  opacity: 1;
}

.menu li a {
  display: block;
  padding: 0 20px;
  color: #1A2028;
}

.menu li a:hover {
  color: #6477B6;
}

@media screen and (max-width: 767px) {
  .menu li a {
    padding: 20px;
    font-size: 2em;
    font-weight: 500;
    color: #F2F5FF;
  }
}

.menu-btn {
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 999;
}

@media screen and (max-width: 767px) {
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-btn-burger {
  width: 35px;
  height: 4px;
  background: #1A2028;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  background: #1A2028;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.menu-btn-burger::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.menu-btn-open .menu-btn-burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.menu-btn-open .menu-btn-burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
  background: #F2F5FF;
}

.menu-btn-open .menu-btn-burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
  background: #F2F5FF;
}

.noscrol {
  overflow: hidden;
}

.section-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: calc(100vh - 81px);
  padding: 50px;
}

@media screen and (max-width: 767px) {
  .section-hero {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
    height: calc(100vh - 81px);
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero {
    padding: 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
}

.hero-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.hero-content p {
  margin: 30px 0;
  font-size: 0.9375em;
  line-height: 1.53333em;
}

.hero-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-width: 40%;
}

@media screen and (max-width: 767px) {
  .hero-image {
    display: none;
  }
}

.wrape-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper-logos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services {
  padding: 20px 20px 50px;
}

@media screen and (max-width: 767px) {
  .services {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services > p {
  font-size: 0.9375em;
  line-height: 1.6em;
  margin: 30px 0;
  max-width: 640px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 50px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

@media screen and (max-width: 767px) {
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card-flip {
  position: relative;
  width: 175px;
  height: 165px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media screen and (max-width: 767px) {
  .card-flip {
    width: 275px;
    height: 265px;
    font-size: 1.125em;
  }
}

.card-flip .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: perspective(500px) rotateY(0deg);
          transform: perspective(500px) rotateY(0deg);
}

@media screen and (max-width: 767px) {
  .card-flip .face {
    padding: 30px;
  }
}

.card-flip .face.front {
  background: #F2F5FF;
  overflow: hidden;
}

.card-flip:hover .face.front {
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
}

.card-flip .face.back {
  background: #6477B6;
  color: white;
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  text-align: center;
}

.card-flip:hover .face.back {
  -webkit-transform: perspective(500px) rotateY(360deg);
          transform: perspective(500px) rotateY(360deg);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 50px 20px;
}

@media screen and (max-width: 767px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 20px;
  }
}

.avatars {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .avatars {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .avatars :nth-child(even) {
    display: none;
  }
}

.about-us {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about-us p {
  margin: 30px 0;
  font-size: 0.9375em;
  line-height: 1.53333em;
}

.about-us a {
  color: #6477B6;
}

.about-us a i {
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.about-us a:hover i {
  margin-left: 5px;
}

.about-us a:hover {
  color: #53649e;
}

.contact {
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
}

.contact-us {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 767px) {
  .contact-us {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.contact-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

@media screen and (max-width: 767px) {
  .contact-image {
    max-width: 300px;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.form-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.form-wrapper:last-child label {
  top: 15%;
}

.form-wrapper input,
.form-wrapper textarea {
  padding: calc(30px / 2);
  width: 100%;
  height: 100%;
  border: none;
  border: 1px solid #1A2028;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
}

.form-wrapper label {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1em;
  color: #a0a0a0;
  pointer-events: none;
}

.form-wrapper input:focus + label,
.form-wrapper input:valid + label,
.form-wrapper textarea:focus + label {
  font-size: 1em;
  top: 0;
  padding: 5px;
  background: white;
}

footer {
  width: 100%;
  text-align: center;
  color: #fff;
  background: #6477B6;
  padding: 30px;
}

footer a {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}
/*# sourceMappingURL=main.css.map */