html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: $text-color;
 
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}