.btn {
  min-width: 150px;
  font-size: em(15);
  line-height: em(23, 15);
  text-align: center;
  display: inline-block;
  padding: $gap-smaller $gap-medium;
  background: $purple-color;
  color: $text-color-light;
  font-weight: 400;
  border-radius: 3px;
  border: 1px solid $purple-color;
  transition: 0.5s ease;
  &:hover {
    border: 1px solid $purple-color-dark;
    background: $purple-color-dark;
    color: $text-color-light;
  };
  @include device(mobile){
    padding: $gap-smaller $gap-small;
    align-self: center;
  }
}

.white {
  border: 1px solid $text-color;
  background: transparent;
  color: $text-color;
}


.back-to-top {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  border: 0;
  border-radius: 50%;
  background-color: $purple-color;
  color: $text-color-light;
  font-size: 20px;
  transition: ease 0.5s;
  cursor: pointer;
  outline: none;
  @include box-shadow(0px 2px 10px -5px rgba(0,0,0,0.55));
  &::hover {
    background-color: red;
  }
}