.big-title {
  font-size: em(46);
  line-height: em(56,46);
  @include device(mobile) {
    font-size: em(34);
  line-height: em(44,34);
  }
}

.subtitle {
  font-size: em(15);
  line-height: em(24,15);
  font-weight: 500;
  text-transform: uppercase;
  color: $text-secondary-color;
  margin-bottom: $gap-smaller;
}

.title {
  font-size: em(41);
  line-height: em(49,41);
  font-weight: 400;
  max-width: 550px;
  @include device(mobile) {
    font-size: em(28);
  line-height: em(42,28);
  }
}