.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 81px);
  padding: $gap-larger;
  @include device(mobile) {
    justify-content: space-around;
    padding: $gap-smaller;
    height: calc(100vh - 81px);
  }
}
.hero {
  display: flex;
  padding: $gap-larger;
  justify-content: space-around;
  align-items: center;
  gap: $gap-larger;
  @include device(tablet) {
    padding: $gap-small 0;
  }
  @include device(mobile) {
    flex-direction: column;
    padding: $gap-small;
  }
}

.hero-content {
  flex: 0 0 55%;
  & p {
    margin: $gap-medium 0;
    font-size: em(15);
    line-height: em(23, 15);
  }
}

.hero-image {
  flex: 0 0 45%;
  max-width: 40%;
  @include device(mobile) {
    display: none;
  }
}

.wrape-buttons {
  display: flex;
  gap: $gap-smaller;
  flex-wrap: wrap;
}

.wrapper-logos {
  width: 100%;
  display: flex;
  align-items: center;
  padding: $gap-medium 0;
  justify-content: space-around;
}
