.services {
  padding: $gap-larger 0;
  @include device(mobile){
    padding: $gap-small;
  };
  & > p {
    font-size: em(15);
    line-height: em(24,15);
    margin: $gap-medium 0;
    max-width: 640px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $gap-small;
  margin-bottom: $gap-larger;
  @include device(mobile){
    justify-content: center;
  }
}

.card {
  width: 180px;
  height: 160px;
  background-color: $gray-color-light;
  padding: $gap-small;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include device(mobile){
    width: 280px;
    height: 260px;
  };
  & i {
    font-size: 20px;
  }
}